* {
	margin: 0;
	padding: 0;
}

body{
	margin: 10px auto;
	width: 90%;
	background-color: black;
	color: white;
}

header {
	margin: 30px;
}

header img {
	width: 50px;
	height: 50px;
}

main {
	width: 45%;
	float: left;
	margin-left: 30px;
}

fieldset {
	margin: 10px 0;
	padding: 5px;
}

table {
	width: 90%;
	border: 1px solid black;	
	border-collapse: collapse;

}

.posterTD {
	width: 150px;
}
.infoTD {
	padding-left: 10px;
}

.poster {
	width: 150px;
	height: 150px;
}

.title {
	background-color: black;
	color: white;
}

#sending, #receiving {
	margin: 5px auto;
	width: 380px;
	word-break: break-all;
}

#leftSide {
	width: 15%;
	float: left;
}

#rightSide {
	width: 35%;
	float:right;
}

#search {
	margin-top: 20px;
	width: 100px;
	height:30px;
	font-weight: bold;
	background-color: white;
	color: black;
}

#logo1 {
	margin-right: 10px;	
}

#logo2 {
	margin-left: 10px;
}
